<% for (const author of authors) { %>
  <a href="/author/<%= author.id %>/" class="body-color d-flex gap-2 align-items-center">
    <img src="<%= author.avatar %>" alt="<%= author.name %>" class="rounded-circle" width="20" height="20">
    <%= author.name %>
  </a>
<% } %>
