.item-tile-image, .no-item-tile-title-image {
  width: 100%;
  height: 210px;
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.no-item-tile-title-image {
  background: var(--background-secondary-color);
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  border-radius: var(--border-radius);

  .material-icons {
      opacity: .15;
  }
}

.item-tile-name {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;

  a {
    color: var(--color);
    transition: color $animationSpeed;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.item-tile-description {
  opacity: .8;
  transition: opacity $animationSpeed;
  font-size: .95em;

  &:hover {
    opacity: 1;
  }
}

.item-tile-horizontal {
  margin-top: 15px;
  margin-bottom: 35px;

  .item-tile-image {
    height: 210px !important;
  }

  .item-tile-description {
    margin: 20px 0;
  }
}
