.pagination {
  .pagination-link {
    &.selected {
      color: #000000;
      background-color: var(--primary-color);
    }

    &.disabled {
      opacity: 0.2;
      cursor: default;

      &:hover {
        background-color: var(--background-secondary-color);
        color: var(--color);
      }
    }
  }
}
