.blog-post {
  .post-title {
    font-weight: 700;
    line-height: 1.5em;
  }

  .title-image {
    max-width: 100%;
    border-radius: var(--border-radius);
  }

  .post-meta {
    text-transform: uppercase;
    font-size: .85em;
  }

  .post-body {
    h2 {
      margin-top: 2.5em;
    }

    h3 {
      margin-top: 1.7em;
    }

    img, video, audio {
      max-width: 100%;
    }

    figure {
      text-align: center;

      figcaption {
        font-size: .8em;
        opacity: .8;
        margin-top: 10px;
      }
    }

    iframe, embed {
      width: 100%;
      height: 500px;
      max-height: 90vh;

      @media (max-width: $xsMax) {
        height: 200px;
      }

      @media (min-width: $smMin) and (max-width: $smMax) {
        height: 400px;
      }

      @media (min-width: $mdMin) and (max-width: $mdMax) {
        height: 360px;
      }
    }

    blockquote {
      padding: 0 30px;
      margin: 30px 0;
      position: relative;
      border-top: 2px solid var(--primary-color);
      border-bottom: 2px solid var(--primary-color);
      background-color: darken($lightBg, 8%);

      @media(prefers-color-scheme: dark) {
        background-color: $paletteDarkGray;
      }

      cite {
        display: block;
      }
    }
  }

  .categories-tags {
    text-transform: uppercase;
    font-size: .9em;
    opacity: .8;
    transition: opacity 250ms;

    &:hover {
      opacity: 1;
    }
  }
}
