.blog-post {
  .post-title {
    font-weight: 700;
    line-height: 1.5em;
  }

  .post-meta {
    text-transform: uppercase;
    font-size: .85em;
  }

  .title-image {
    max-width: 100%;
    border-radius: var(--border-radius);
  }

  .categories-tags {
    text-transform: uppercase;
    font-size: .9em;
    opacity: .8;
    transition: opacity 250ms;

    &:hover {
        opacity: 1;
    }
  }
}
